@import "tailwindcss";


*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: roboto, arial;
    padding-top: 50px;
}

@layer components{
    .linkNav{
        @apply text-[14px]
    }
}

@keyframes slideInRight {
  from {
    transform: translateX(200px);
    opacity : 0.5; /* commence hors écran à droite */
  }
  to {
    transform: translateX(0); 
    opacity : 1;/* revient à sa position normale */
  }
}

.slideRight {
  animation: slideInRight 1s ease-in-out 0.4s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
    opacity : 0.5; /* commence hors écran à droite */
  }
  to {
    transform: translateX(0); 
    opacity : 1;/* revient à sa position normale */
  }
}

.slideLeft {
  animation: slideInLeft 1s ease-in-out 0.4s forwards;
}